
.card {
    background-color: rgb(238, 167, 59);
    width: 50%;
    height: 50vh;
    margin: auto;
    text-align: center;
    border: thick solid #000;
}

/* fieldset > div {
    text-align: left;
} */

.answer {
    padding: 5px;
    margin: 5px;
    background-color: rgb(232, 189, 126);
}

.answer:hover {
    font-weight: bold;
}

.answer:active {
    transform: scale(0.95);
}

.answer:visited {
    font-weight: bold;
}

.enter {
    width: 20%;
    margin: 4% 75%;
    background-color: rgb(229, 187, 135);
}

.btn {
    border-radius: 5%;
}
.enter:hover {
    font-weight: bold;
}